.container {
    margin-top: 10%;
}

.login-form {
    border: 1px solid lightslategray;
    border-radius: 10px;
    padding: 20px 50px 20px 50px;
    box-shadow: 10px 10px 5px lightblue;
}

.form-title {
    text-align: center;
    margin-bottom: 1em;
    font-size: 40px;
    font-weight: 600;
}

label {
    font-size: 14px;
    font-weight: 600;
    color: rbg(34,35,36);
}